<p>binding-class works!</p>
<div>
  <h1 [ngClass]="success">hello</h1>
  <h1 [ngClass]="success">hello</h1>
  <h1 [ngClass]="success">hello</h1>
  <h1 [ngClass]="success">hello</h1>
  <h1 [ngClass]="success">hello</h1>
</div>

<div>
  <h2 class="{{primary}}" [innerText]="'xin chao'"></h2>
  <h2 class="{{primary}}" [innerText]="'xin chao'"></h2>
  <h2 class="{{primary}}" [innerText]="'xin chao'"></h2>
  <h2 class="{{primary}}" [innerText]="'xin chao'"></h2>
  <h2 class="{{primary}}" [innerText]="'xin chao'"></h2>
</div>

<h3 [ngClass]="complexity">complexity</h3>
