<p>js-array-product-cata works!</p>
<table border="1" [width]="200">
  <tr>
    <td colspan="2">Mã danh mục</td>
    <td colspan="2">Tên danh mục</td>
  </tr>
  <tbody *ngFor="let cata of catalog">
    <tr>
      <td colspan="2">{{cata.Cateid}}</td>
      <td colspan="2">{{cata.CateName}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <table border="1">
          <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td>Giá sản phẩm</td>
            <td>Picture</td>
          </tr>
          <tr *ngFor="let p of cata.Products">
            <td>{{p.ProductId}}</td>
            <td>{{p.ProductName}}</td>
            <td>{{p.Price}}</td>
            <td><img height="100" src="{{p.Image}}" alt=""></td>
          </tr>
        </table>
      </td>

    </tr>

  </tbody>

</table>
