<p>js-array-product-event works!</p>
<table [border]="1">
  <tr>
    <th>Mã sản phẩm</th>
    <th>Tên sản phẩm</th>
    <th>Giá sản phẩm</th>
    <th>Hình ảnh</th>
    <th>#</th>
  </tr>
  <tbody *ngFor="let p of products">
    <tr>
      <td>{{p.maSP}}</td>
      <td>{{p.tenSP}}</td>
      <td>{{p.giaSP}}</td>
      <td><img src="{{p.img}}" [height]="100"></td>
      <td><a style="cursor:pointer;" (click)="viewDetail(p)" title="Click here to view detail">Details</a></td>
    </tr>
  </tbody>
</table>
